body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaf6fb;
}

  .calculator {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #2f3b47;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

  .display {
    text-align: right;
    color: white;
    padding: 15px;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px;
}

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

  button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3e4b57;
    color: white;
}

  button:hover {
    background-color: #4a5a68;
}

.action-btn {
    color: #4ecdc4;
}

.equal-btn {
    background-color: #4ecdc4;
    color: white;
  }

  .equal-btn:hover {
    background-color: #43b8ad;
  }